<form action="/names" method="post">
  <p>
    <label for="player_one_name">Player One:</label>
    <input type="text" name="player_one_name">
  </p>
  <p>
    <label for="player_two_name">Player Two:</label>
    <input type="text" name="player_two_name">
  </p>
  <p class="button">
    <button type="submit" id="submit">PLAY BATTLE!</button>
  </p>
</form>