<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Player1: <%= @game.player1.name %></h1>
    <h1>Player2: <%= @game.player2.name %></h1>
    <h3><%= @game.player2.name %>: 60 HP</h3>
    <a href='/attack-player-2'>Attack <%= @game.player2.name %></a>
  </body>
</html>
